body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    background-color: #1F2937;
    padding: 10px 30px;
}

.logo {
    margin-right: auto;
}

.links {
    display: flex;
    list-style: none;
    gap: 20px
}

a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;    
}

.presentacion {
    display: flex;
    background-color: #1F2937;
    padding: 10px 30px 30px 30px;
    gap: 30px
}

.titulo {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.contenido {
    color: white;
    margin: 10px 0px ;
    font-size: 20px;

}

button {
    padding: 3px 15px;
    border-radius: 0.5rem;
    border: 0;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px ;
    display: flex;
}

.botton {
    display: flex;
    justify-content: center;
}

.lengs {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    margin: 40px 40px 60px;
}

.contenido {
    display: flex;
    justify-content: space-evenly; 
}

